<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.sadear_ge" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Giris"
            android:label="@string/title_activity_giris" >
        </activity>
        <activity
            android:name=".UrunSecimi"
            android:label="@string/title_activity_urun_secimi" >
        </activity>
        <activity
            android:name=".ihtiyac_listesi"
            android:label="@string/title_activity_ihtiyac_listesi" >
        </activity>
        <activity
            android:name=".Yukleme_listesi"
            android:label="@string/title_activity_yukleme_listesi" >
        </activity>
        <activity
            android:name=".oncekiGibiYukle"
            android:label="@string/title_activity_onceki_gibi_yukle" >
        </activity>
    </application>

</manifest>
